<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
	<p class="col-md-4 mb-0 text-body-secondary">
		© 2026 EU Etkinlik, Tüm Hakları Saklıdır.
	</p> 
	<a href="/"
		class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
		aria-label="Bootstrap"> 
		<div class="footer-brand">
			<img src="images/EUEtkinlik-removebg-preview.png" alt="EUEtkinlik" class="footer-logo">
		</div>
	</a>
	<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
		<li class="ms-3">
			<a class="text-body-secondary" href="#" aria-label="Instagram">
				<svg class="bi" width="24"
					height="24" aria-hidden="true">
					<use xlink:href="#instagram"></use>
				</svg>
			</a>
		</li>
		<li class="ms-3">
			<a class="text-body-secondary" href="#" aria-label="Facebook">
				<img src="images/Icons8-Ios7-Logos-Facebook.512.png" 
					alt="Facebook" 
					width="24" 
					height="24">
			</a>
		</li>
		<li class="ms-3">
			<a class="text-body-secondary" href="#" aria-label="Instagram">
				<img src="images/Iconoir-Team-Iconoir-Instagram.512.png" 
					alt="Instagram" 
					width="29" 
					height="29">
			</a>
		</li>
	</ul>
</footer>